input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #B0B0B0;
    font-weight: 400;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #B0B0B0;
    font-weight: 400;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #B0B0B0;
    font-weight: 400;
  }