@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--montserrat-font);
}

body{
  background:#F5F5F5;
}


input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  font-weight: 500;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
  font-weight: 500;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
  font-weight: 500;
}